.retour{
    font-size: 25px;
    margin: 10px 105px;

}
.profileEdit  {
    margin-left: 1020px;
    margin-bottom: 20px;
    font-size: 25px;
   

}
.profileEdit .span{
    color: rgb(0, 47, 54);

}